@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
:root {
  --background: rgb(30, 41, 59);
}
body {
  background-color: var(--background);
}
* {
  color: #EEE;
  margin: 0px;
}
a {
  text-decoration: underline;
}
h2 {
  size: 60px;
}